// Remove horizonal scrollbars for code blocks
.gatsby-highlight pre code {
  white-space: pre-wrap;
}

// Style tables
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5px;
}
table td,
table th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}
